<div class="container my-3">
    <div class="row m-3">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos laborum suscipit rerum adipisci incidunt maiores id dolores, porro eos eligendi distinctio dolore necessitatibus fugit accusamus cum perferendis consequuntur repellat?</li> 
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos laborum suscipit rerum adipisci incidunt maiores id dolores, porro eos eligendi distinctio dolore necessitatibus fugit accusamus cum perferendis consequuntur repellat?</li> 
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos laborum suscipit rerum adipisci incidunt maiores id dolores, porro eos eligendi distinctio dolore necessitatibus fugit accusamus cum perferendis consequuntur repellat?</li> 
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos laborum suscipit rerum adipisci incidunt maiores id dolores, porro eos eligendi distinctio dolore necessitatibus fugit accusamus cum perferendis consequuntur repellat?</li> 
                <li class="list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dignissimos laborum suscipit rerum adipisci incidunt maiores id dolores, porro eos eligendi distinctio dolore necessitatibus fugit accusamus cum perferendis consequuntur repellat?</li>               
            </ul>
        </div>
    </div>
</div>
